:root {
  --color-primary: #25a0fe;
  --color-primary-dark: #0075c2;
  --color-primary-light: #7dcdfe;

  --color-text: #2c2c2c;
  --color-muted: #6b7280;

  --color-bg: #ffffff;
  --color-bg-soft: #f5f9ff;
}